/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 100vh;
  }
  
  /* Estilos do Canvas */
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #canvas1, #canvas2, #canvas3 {
    display: block;
  }
  
  /* Estilos do Card */
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .card p {
    font-size: 1em;
    margin-bottom: 15px;
    
  }
  

/* Estilos do avatar */
.card #avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 15px; /* Aumentei um pouco a margem para dar mais espaço entre a imagem e o título */
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho sem distorcer */
    border: 2px solid #fff; /* Adicionei uma borda branca à imagem */
}


/* Estilo do .card */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    z-index: 1;
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo do botão */
.card button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    margin: 10px 0;
}


/* Estilo dos ícones dentro do botão */
.card button i {
    margin: 0 10px;
    font-size: 2.2em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    fill: #919191;
    color: #919191;
}

.card button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.card button i:hover {
    color: white;
    transition: all 0.3s ease;
}

/* Estilo do card */
.spotify-card {
    width: 280px;
    background: #181818;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px; /* Ajuste de altura para acomodar todos os elementos */
  }
  
  /* Capa do Álbum */
  .spotify-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  /* Título da Música */
  .spotify-card h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Nome do Artista */
  .spotify-card .artist {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
  }
  
  /* Barra de progresso da música */
  .progress-container {
    width: 80%; /* Largura de 80% da tela */
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0%; /* Inicialmente a largura é 0% */
    border-radius: 5px;
    transition: width 0.1s ease-in-out;
  }
  
  /* Botões Play/Pause */
  .control-button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px; /* Distância do botão de play/pause */
  }
  
  .control-button i {
    font-size: 30px;
  }
  
  .control-button:focus {
    outline: none;
  }
  
  /* Controles no rodapé */
  .spotify-card .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Ajuste do ícone de play/pause */
  .control-button i {
    font-size: 30px;
    transition: all 0.3s ease;
  }
  
  .control-button:focus {
    outline: none;
  }
  

.music {
    display: none;
}

.card #avatar:hover {

    border: 2px solid #ff0000;
    transform: scale(1.1); 
    transition: all 0.3s ease;
}